<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /

    <Files ~ "\.(jpg|jpeg|png|gif|js|css|xml)$">
       order deny,allow
       allow from all
    </Files>

    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

    RewriteCond %{HTTP_HOST} !^www\.
    RewriteRule ^sitemap\.xml$ /stores/%{HTTP_HOST}/sitemap\.xml [L]
    RewriteRule ^image/(.*)$ /stores/%{HTTP_HOST}/image/$1 [L]

    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
   
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

   
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>

    ErrorDocument 404 /index.php
</IfModule>